.playerWrapper {
  margin: auto !important;
  max-width: 80%;
}

.paper {
  background-color: #000;
}

@media (max-width: 575px) {
  .playerWrapper {
    max-width: 90%;
  }

  .player iframe {
    width: 100%;
    height: 300px;
  }
}
